<nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="nav"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    	<img alt="" src="https://img.freepik.com/premium-vector/nice-book-poster_25030-55210.jpg" width="80">
    </a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
        <li class="nav-item">
          <a class="nav-link" href="/ajout-article">Ajout article</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/list">Listing</a>
        </li>
        
      </ul>
      
    </div>

     <div sec:authorize="isAuthenticated()"> 
		<span th:text="${#authentication.getPrincipal().getFullName()}" > </span>
	
	    <a class="btn btn-danger" th:href="@{/logout}">logout</a>
	 </div> 
	  
  <div sec:authorize="isAnonymous()"> 
    <a class="btn btn-success" th:href="@{/login}">Se connecter </a>
    <a class="btn btn-primary" th:href="@{/register}">S'inscrire</a>  
  </div>
   
  </div>  
</nav>



